
<html>
  <head><title>Error</title>
  
  <body>
    <a href="http://localhost:8080/input.html">トップへ戻る</a><br>
	<!-------------------エラーメッセージ------------------>
  	<TMPL_LOOP NAME=ERR_MSG>
  	    <font color="red"><TMPL_VAR NAME="VALUE"></font>
  	</TMPL_LOOP>
  
  </body>
  
</html>

